
/*  Section 3  */
.section-heading {
    text-align: center;
    vertical-align:top;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}

/* Sizing for Project Containers  */
.column-1 {
    float: left;
    width: 15%;
    padding: 0px;
    margin: 0px;
    margin-left: 0px;
    
}
.column-2 {
    float: right;
    width: 15%;
    padding: 10px;
    margin: 20px;
    margin-right:auto;
    height: 100%;
}


/* Color and Images for Project Containers  */
.project-1 {
    background: url('../images/project-left.jpeg');
    background-size: cover;
}

.project-2 {
    background-color: white;
}

.project-3 {
    background-color: #12557f;
}

.project-4 {
    background-color: #112d4e;
}

.project-5 {
    background-color: #F9F7F7;
}

.project-6 {
    background-color: #209BFF;
}

.project-7 {
    background-color: #ffffff00;
}

.project-8 {
    background: url('../images/project-right.jpeg');
    background-size: cover;
}

.project-text {
    text-align: center;
    font-size: 50px;
}

.vl {
    border-left: 3px solid black;
    height: 20px;
    float: right;
    margin-right: 10px;
}
